.journey-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.journey-content {
    position: relative;
    padding: 1rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.journey-content:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1024px) {
    .journey-content:nth-child(1)::before {
        content: '';
        position: absolute;
        left: 555px; 
        top: 50%;
        transform: translateY(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: transparent #3b3663 transparent transparent;
    }

    .journey-content:nth-child(2)::after {
        content: '';
        position: absolute;
        right: 555px; 
        top: 50%;
        transform: translateY(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent #3b3663;
    }
    .journey-content:nth-child(3)::before {
        content: '';
        position: absolute;
        left: 555px; 
        top: 50%;
        transform: translateY(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: transparent #3b3663 transparent transparent;
    }
    .journey-content:nth-child(4)::after {
        content: '';
        position: absolute;
        right: 555px; 
        top: 50%;
        transform: translateY(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent #3b3663;
    }
}
