
.about-sec{
    margin-top: 100px;
}

.ImgPart img{
    max-width: 100%;
    height: auto;
}

.growth span{
    font-size: 45px;
}
.growth h2{
    font-weight: 500;
    color: #3b3663;
}
.growth p{
    font-weight: 600;
    font-size: 20px;
    color: #3b3663;
}

/* journey-sec start  */
.journey-sec{
    border: 1px solid gray;
    margin: 10px 0px;
    padding: 50px 0px;
    text-align: center;
    border-radius: 5px;
}
.journey-sec h3{
    color: #3b3663;
    font-weight: bold;

}
.journey-sec h6{
    font-size: 18px;
    font-weight: 500;
    color: #3b3663;
}
.journey-sec p{
    font-size: 17px;
    font-weight: 500;
    color: #6b6b84;
}
.common-p svg{
    font-size: 20px;
}
.mvw-sec{
    border: 1px solid gray;
    /* margin: 10px 10px; */
    padding: 30px 4px;
    border-radius: 4px;
}
.mvw-sec h2{
    color: #3b3663;
    font-weight: bold;
    margin-bottom: 20px;
}
.mvw-sec p{
    font-size: 20px;
    font-weight: 500;
    color: #6b6b84;
}
.mvw-sec .MVcategory span{
    line-height: 45px;
    cursor: pointer;
}
.mvw-sec .MVcategory span:hover{
    color: #bebebe;
}
.mvw-sec .MVcategory span svg:hover{
    background-color: orange;
    border-radius: 50%;
}
.mvw-sec .MVcategory span svg{
    background-color: #eaeaf2;
    border-radius: 50%;
}


@media only screen and (max-width: 455px) {
    *{
        margin: 0;
        padding: 0;
    }
    .common-h2 {
        line-height: 50px;
    }
}