
.SideBlog{
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    margin-top: 25px;
}
.post{
    border: 1px solid rgb(204, 204, 204);
    padding: 10px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.post img{
    width: 70px;
    margin-right: 10px;
    border-radius: 4px;
}
.post a{
    color: #5c5c5c;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.Follow-us {
    text-align: center;
    margin-top: 60px;
}
.Follow-us h4{
    font-weight: 600;
    color: #3b3663;
}
.Follow-us a{
    padding: 5px 10px;
    font-size: 25px;
    color: #3b3663;
}
