*{
    margin: 0;
    padding: 0;
}
.blog-sec{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-top: 30px;
}
.blog-sec h5{
    padding-top: 20px;
    font-size: 18px;
    margin-left: 10px;
    color: #3b3663;
    font-weight: 600;
}
.blog-sec img:hover{
    transform: scale(1.02);
    transition: 1.2s;
}
.blog-sec h2{
    color: #3b3663;
    margin-top: 9px;
    padding: 0px 10px;
    font-weight: 600;
}
.blog-sec p{
    padding: 0px 10px;
    font-weight: 600;
    color: #6d6d6d;
}
.blog-sec h6{
    text-align: right;
    padding-right: 10px;
    font-weight: 600;
    color: #6d6d6d;
}
.blog-sec button{
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 0px 0px 10px #ccc;
    background-color:  rgb(224, 245, 252);
}
.blog-sec button a{
    text-decoration: none;
    color: #3b3663;
}
.long-card h3{
    color: #3b3663;
    font-weight: 500;
}
.long-card a{
    color: orange;
    text-decoration: none;
}