.FooterBody {
    background-color: #3b3663;
    color: white;
    margin-top: 60px;
    padding: 30px 8px;
}

.FooterBody h5 {
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}

.LogoColum img {
    margin-bottom: 20px;
    padding: 20px; /* Adjusted padding */
    cursor: pointer;
    border: 1px solid #cccc;
    border-radius: 2px;
}

.LogoColum h6 {
    font-size: 17px;
    font-weight: 600;
}

.LogoColum p {
    font-size: 18px;
}

.LogoColum p svg {
    color: orange;
    font-size: 22px;
}

.CompanyColum a, .serviceColum a, .BlogColum a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 38px;
}

.FollowColum a {
    padding: 8px;
    font-size: 25px;
}

#Insta, #Facebook, #twitter, #Linkedin {
    color: orange;
}

.searchColum input {
    outline: none;
    width: calc(100% - 80px); /* Adjusted width to fit well with the button */
    padding: 5px;
    margin-right: 10px;
}

.searchColum button {
    padding: 6px 8px;
    border: none;
}

.searchColum button a {
    outline: none;
    text-decoration: none;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.copyurightColum p {
    font-size: 15px;
}

.copyurightColum p a {
    text-decoration: none;
    color: orange;
    font-weight: 600;
}

@media only screen and (max-width: 455px) {
    .MobileCenter {
        text-align: center;
    }

    .FooterBody {
        padding: 15px 5px; /* Adjusted padding */
    }

    .LogoColum, .CompanyColum, .serviceColum, .BlogColum, .FollowColum, .searchColum {
        padding-top: 15px; /* Adjusted padding */
        width: 100%;
        margin: 0; /* Remove extra margins */
    }

    .searchColum input {
        width: calc(100% - 80px); /* Adjusted width to fit well with the button */
    }

    .searchColum button {
        width: 100%; /* Full width for button on mobile */
    }

    .copyurightColum {
        text-align: center;
    }

    .copyurightColum img {
        width: 100%;
        margin: 0; /* Remove extra margins */
    }
}
